body{
  background-color: #3F3B6C;
}

.App{
  text-align: center;
}

h1{
  color: #A3C7D6;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 5px;
}

p{
  color: #A3C7D6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 5px;
}

img{
  width: 200px;
}

input{
  border-radius: 5px;
  border: 2px solid #9F73AB;
  background-color: transparent;
  padding: 5px;
  width: 10%;
  color: #A3C7D6;
  text-align: center;
}

input::placeholder{
  color: #A3C7D6;

}

button{
  border-radius: 5px;
  color: #A3C7D6;
  background-color: #9F73AB;
  width: 10%;
  height: 2rem;
  margin-top: 1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}